<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<header>
  <!-- <link rel="stylesheet" href="styles/styles.css"> -->
  
  <nav id="nav-bar">
    <ul class="horizontal-nav">
      
      <div class="user-login-box">
        <!-- Show 'Logout' and user name if authenticated. -->
        
        <% if (reqInfo.authenticated) { %>
          <% if (!reqInfo.roles.includes("Admin") && !reqInfo.roles.includes("Manager")) { %>
            <li><a href="/user/userprofile">My Profile</a></li>
            <li><a href="/user/my-invoice">My Invoices</a></li>
          <% } else { %>
            <li><a href="/">Home</a></li>
            <li><a href="/user/userprofiles">Users</a></li>
            <li><a href="/profiles">Clients</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/invoices">Invoices</a></li>  
          <% } %>
          <li><a href="/user/logout">Logout</a></li>
        <% } else { %>
          <li><a href="/user/register">Register</a></li>
          <li><a href="/user/login">Login</a></li>
        <% } %>
      </div>
      
    </ul> 
  </nav>
  
</header>
