<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Express Billing</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main role="main" class="container">
      <div class="starter-template">
        <div class="user-login-box">
          <!-- Show 'Logout' and user name if authenticated. -->
          <%if (reqInfo.authenticated) { %>
          <a href="/user/userprofile">My Profile</a>
          <% if (reqInfo.roles.includes("Admin")) { %>
          <a href="/secure/admin">Admin Area</a>  <% } %> <% if
          (reqInfo.roles.includes("Admin") || reqInfo.roles.includes("Manager")) {
          %> <a href="/secure/manager">Manager Area</a>  <% } %> 
          <a href="/user/logout">Logout</a>
  
          <!-- 'else' must be in separate section with curly brackets to work. -->
          <% } else { %>
              <a href="/user/register">Register</a> 
              <a href="/user/login">Login</a>
          <% } %>
        </div>
        

        <!-- Child view will be rendered here. -->
        <div class="body-box"><%- body %></div>
        
      </div>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>