<main>
    <div id="home-box">
        <img id="logo-img" src="/images/logo-img.jpg" alt="logo-image">
        <div>
            <h1 id="home-page">Welcome to BillBird</h1>
        </div>
        <p id="home-para">Welcome to our express billing portal, where we are delighted to welcome you! <br>
            Take control of your billing, effortlessly navigate through invoices, and seamlessly explore our array of services. <br>
            This user-friendly platform was meticulously crafted by a team of four dedicated individuals,<br>
            ensuring a smooth and efficient experience for all our users.
        </p>
    </div>
</main>
