<form class="cat-form" id="searchForm" action="/invoices/search" method="GET">
  <input class="searchbar" type="text" name="q" placeholder="Search by invoice">
  <button class="btn btn-primary" type="submit">🔍</button>
</form>
<main id="invoice-page">
  <div>
    <div class="header-container">
      <h1> <%= title %></h1>
      <div class="sub-head-box">
        <a class="btn btn-success" href="/invoices/create">Add New Invoice</a> 
      </div>
  </div>
  <div id="list-container">
    <ul>
        <% invoices.forEach(invoice => { %>
          <% if (invoice && invoice._id && invoice.invoiceName) { %>
                <li class="item-list">
                    <% if (reqInfo.roles.includes("Admin")) { %>
                      <a href="/invoices/<%= invoice._id%>/delete"><button id="invoiceDeleteBtn" class="btn btn-danger">⌦</button></a>
                    <%}%>
                    <% if (reqInfo.roles.includes("Manager")) { %>
                      <div class="list-bullet">▪</div>
                  <%}%>
                  <a href="/invoices/<%= invoice._id %>"><%= invoice.invoiceName %></a>               
                </li>
            <% } %>
        <% }) %>
    </ul>
  </div>
  </div>
</main>