<main id="myInvoice-page">
  <div>
    <div class="header-container">
      <p>** Name changes may affect your invoice listings.</p>
      <p>For more information, please contact Admin Services **</p>
      <h1> <%= title %></h1>
    </div>
    <div id="list-container">
      <ul>
          <% invoices.forEach(invoice => { %>
            <% if (invoice) { %>
                  <li class="myInvoices">
                    <a href="/invoices/<%= invoice._id %>"> Invoice #<%= invoice.invoiceNumber %></a>                 
                  </li>
              <% } %>
          <% }) %>
      </ul>
    </div>
  </div>
</main>