<form class="cat-form"  action="/products/search" method="GET">
    <input class="searchbar" type="text" name="q" placeholder="Search by product name">
    <button class="btn btn-primary" type="submit">🔍</button>
</form>
<main>
    <div>
        <div class="header-container">
            <h1>Products</h1>
             <div>
            <% if (reqInfo.roles.includes("Admin")) { %>
                <a class="btn btn-success" href="/products/edit">Add New Product</a>
            <% } %>
            </div>
        </div>
        <div id="list-container">
            <ul>
                <% products.forEach(product => { %>
                    <% if (product && product.productName && product._id) { %>
                        <li class="clientsNames">
                            <% if (reqInfo.roles.includes("Admin")) { %>
                                <a href="/products/<%= product._id%>/delete"><button id="cliDelBtn" class="btn btn-danger">⌦</button></a>
                            <% } %>
                            <% if (reqInfo.roles.includes("Manager")) { %>
                                <div class="list-bullet">▪</div>
                            <%}%>
                                <a href="/products/<%= product._id %>"><%= product.productName %></a>   
                        </li>
                    <% } %>
                <% }) %>
            </ul>
        </div>
    </div>
</main>


