<form class="cat-form" id="searchForm" action="/user/search" method="GET">
  <input class="searchbar" type="text" name="q" placeholder="Search by username">
  <button class="btn btn-primary" type="submit">🔍</button>
</form>
<main id="user-page">
  <div>
    <div class="header-container">
      <h1> <%= title %></h1>
      <div class="sub-head-box">
        <a class="btn btn-success" href="/user/register">+ New User</a> 
      </div>
    </div>
    <div id="list-container">
      <ul>
        <% users.forEach(user => { %>
          <% if (user && user.id && user.username) { %>
              <li class="users">  
                <% if (reqInfo.roles.includes("Admin")) { %>
                  <a href="/user/<%= user.id%>/delete"><button id="userDeleteBtn" class="btn btn-danger">⌦</button></a>
                <%}%>
                <% if (reqInfo.roles.includes("Manager")) { %>
                  <div class="list-bullet">👤</div>
                <%}%>
                <a href="/user/<%= user.id %>"><%= user.username %></a> 
              </li>     
            <% } %>
        <% }) %>
      </ul>
    </div>
  </div>
</main>