body {
  background-image: url("../images/bg-photo.jpg");
}
  
/* Style for horizontal navigation */
ul.horizontal-nav li {
    display: inline; 
    margin-right: 20px; 
}

#logo{
  height: 150px;
  width: 150px;
}

#logo-img{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin-top: 30px;
}

#logo-img-login{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-top: 30px;
  margin-bottom: 50px;
}

#home-box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container{
  margin-top: 20px;
}

.header-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.sub-head-box{
  margin-right: 20px;
}

.header-container>h1{
  margin-right: 30px;
  margin-left: 10px;
}

main{
  margin-bottom: 30px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  min-height: 100%;
}

/*client styling*/
ul {
  list-style: none;
 }

#item-list {
  margin-top: 10px;
  margin-bottom: 10px;
  list-style: none;
  padding: 0;
}

#item-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

#item-list a {
  text-decoration: none;
}

.container{
  margin-bottom: 100px;
}

header {
  background-color: #032a2e;
  width: 100%;
  height: 100px;
  padding-top: 20px;
}

header ul{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

header li {
  margin-top: 10px ;
}

header a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s;
  font-size: 25px;
}

header a:hover {
  color: #dee0e9;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 10px;
}

#home-para {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
}

 h1 {
  font-size: 60px;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchForm {
  justify-content: center;
  align-items: center;
  max-width: 300px;
  flex-direction: column;
  margin: 0 auto;
}

#header-container {
  align-items: center;
  justify-content: center;
}

#create-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

#list-container {
  width: 370px;
}

.cat-form>input{
  border-radius: 10px;
  height: 45px;
  text-align: center;
}


#list-container a {
  font-size: 24px;
  margin-right: 10px;
}

#list-container ul {
  list-style-type: none;
  padding: 0;
}

#list-container li {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 5px;

}

.list-bullet{
  padding-top: 12px;
  margin-right: 10px;
}

#list-container li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.859);
  transition: color 0.3s;
  font-weight: bold;
}

#list-container li a:hover {
  color: purple;
  text-decoration: underline;
}

#cliDelBtn {
  margin-left: 5em;
}

div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 8px;
}


/* View Page */

#details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

#view {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 24px;
}

#view div {
  margin-bottom: 5px;
}

#view-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#back-to-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* End of client styling */

/* Edit form styling*/
#form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#form-container form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-container form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-container label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 24px;
}

#form-container button {
  margin-top: 10px;
}

.invoiceDetails {
  width: 700px;
  height: 100%;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}
#client-info {
  margin-right: 60px;
}
#details-container {
  width: 100%;
  display: flex;

  padding-right: 20px;
}
#invoiceHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
  width: 100%;
  font-size: 1rem;
  padding: 15px;
  background-color: white;
}

#summary {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 90px;
}

#clientInvoiceId {
  font-size: 0.75rem;
}

#bill-details {
  width: 100%;
  font-size: 16px;
  margin-top: 40px;
  text-align: right;
}

#detailsBtnBox{
  display: flex;
  flex-direction: row;
}

#detailsBtnBox>button{
  margin-left: 10px;
}

.table-left{
  text-align: left;
}

#issue-date, #total-amount, #due-date {
  font-size: 0.75rem;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 22px;
  padding-right: 22px;
}

#row-details {
  flex-direction: row;
  justify-content: space-between;
}
#line-item {
  flex-direction: row;
  justify-content: space-between;
}

#payment-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 1rem;
  margin-top: 40px;
}
#invoiceNumberHeader {
  display: flex;
  align-items: center;
  font-size: 1rem;
}
#back-to-invoices-btn {
  display: flex;
  align-items: center;
  justify-content: center;
} 

.invoiceDetails {
  width: 700px;
  height: 100%;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

/*end of invoice styling */
#client-info {
  margin-right: 60px;
}
#details-container {
  width: 100%;
  display: flex;

  padding-right: 20px;
}
#invoiceHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1rem;
  padding: 15px;
  align-items: start;
}

#summary {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 90px;
}
#clientInvoiceId {
  font-size: 0.75rem;
}
#billable-details {
  display: flex;
  width: 100%;
  font-size: 1rem;
  margin-top: 40px;
}
#issue-date, #total-amount, #due-date {
  font-size: 0.75rem;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 22px;
  padding-right: 22px;
}

#row-details {
  flex-direction: row;
  justify-content: space-between;
}

#invoiceCancel, #invoiceSave{
  margin-top: 20px;
}

#lineItems{
  width: 300px;
}

#quantity_0{
  height: 40px;
  width: 90px;
}

#product_0{
  margin-right: 20px;
}

.select-quantity{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

#clientName{
  width: 250px;
  height: 40px;
  margin-bottom: 20px ;
}

#payment-summary{
  text-align: right;
  height: 120px;
}

#payment-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 1rem;
  margin-top: 40px;
}
#invoiceNumberHeader {
  display: flex;
  align-items: center;
  font-size: 1rem;
}
#back-to-invoices-btn {
  margin-top: 30px;
}

#invoiceHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#invoice-form-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#invoice-form-container label{
  font-weight: bold;
}

#invoice-form-container input{
  font-weight: bold;
  margin-bottom: 20px;
}


.qty{
  width: 60px;
 
}

.product{
  width: 200px;
  
}

#paidStatus{
  color: green;
  font-size: 25px;
  text-align: center;
  margin-top: 40px;
}

#unpaidStatus{
  color: rgb(255, 0, 0);
  font-size: 25px;
  text-align: center;
  margin-top: 40px;
}

/* user styling */

#searchForm{
  display: flex;
  flex-direction: row;
}

#searchForm>button{
  margin-left: 15px;
}

.user-lbl{
  font-weight: bolder;
}

.user-login-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;
}

.body-box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  font-size: 18px;

}

.user-login-box a{
  margin-right: 15px
}

/* user styling */
#my-profile{
  margin-bottom: 30px;
  margin-top: 30px;
}

#myprofileEdit{
  margin-top: 80px;
  margin-bottom: 20px;
}

input{
  width: 250px;
}

#myprofile-box{
  background-color: whitesmoke;
  padding: 10px 200px;
  border-radius: 20px;

}

.login-label{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#login-button{
  margin-top: 20px;
}

.login-form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form{
  display: flex;
  flex-direction: column-reverse;
}

.register-button{
  margin-top: 20px;
}

#reg-logo-box{
  margin-top: 100px;
  margin-right: 50px;
}

.info-content {
  display: none; /* Initially hide the password info */
  position: absolute;
  margin-left: 270px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 400px;
  z-index: 1;
}

.info-button:hover + .info-content {
  display: block; /* Show the info content on button hover */
}

.details-container{
  background-color: whitesmoke;
  padding: 30px 150px;
  border-radius: 20px;
}

.btn-box{
  display: flex;
  flex-direction: row;
}

.userprofile-box{
  margin-top: 50px;
}

.btn-box>a{
  margin-right: 15px;
}


@media print {
  /* Hide navigation */
  nav {
    display: none;
  }

  body {
    margin: 0;
    padding: 20px;
  }
  /*Hide Button*/
  button {
    display: none;
  }

  #detailsBtnBox{
    display: none;
  }

  /* Hide footer */
  footer {
    display: none;
  }

  @page {
    size: auto; 
    margin: 0; /* Remove default margin */
  }
}

